@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto; }

html {
  font-size: 62.5%; }

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -2rem 0 5rem;
  font-family: "inherit"; }

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0; }

h1 {
  font-size: 2.4rem;
  margin: 0; }

span {
  padding-top: 1.2rem;
  padding-bottom: 3.2rem;
  font-size: 1.6rem; }

h2 {
  padding-top: 3.2rem;
  text-align: center; }

p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  margin: 2rem 3rem; }

.container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 58%;
  height: 62%;
  max-width: 100%;
  min-height: 62%; }

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1; }

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  padding-top: 3.2rem; }

.hidden-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100; }

.hidden {
  background: #1cb5e0;
  background: -webkit-linear-gradient(to right, #000046, #1cb5e0);
  background: linear-gradient(to right, #000046, #1cb5e0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out; }
  .hidden-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out; }
  .hidden-right {
    right: 0;
    transform: translateX(0); }
  .hidden-left {
    transform: translateX(-20%); }

.btn {
  border-radius: 2rem;
  border: 1px solid #b7c5fb;
  background-image: linear-gradient(to right, #0575e6, #021b79);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2.4rem;
  padding: 1.2rem 4.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in; }
  .btn-hidden {
    background-color: transparent;
    border-color: #4c6ef5; }
  .btn:active {
    transform: scale(0.95); }
  .btn:focus {
    outline: none; }

.forms {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  height: 100%;
  text-align: center; }
  .forms-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out; }

input {
  border-radius: 1.5rem;
  background-color: #eee;
  border: none;
  padding: 1.2rem 1.6rem;
  margin: 0.8rem 0;
  width: 100%; }
  input:last-child {
    padding-bottom: 3.2rem; }
